<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<system.web>
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</controls>
		</pages>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<!--<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />-->
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</buildProviders>
		</compilation>
		<sessionState mode="InProc" timeout="60" />
		<customErrors mode="Off" />
	</system.web>
	<system.web>
		<httpRuntime maxRequestLength="200097151" executionTimeout="6000" requestValidationMode="2.0" />
		<!--<identity impersonate="false" password="fwq@cdivtc2012" userName="administrator"/>-->
		<!--<identity impersonate="true" userName="administrator" password="fwq@cdivtc2012"  />-->
	</system.web>
	<connectionStrings>
  <add name="gldir" connectionString="nradmingl" providerName="System.set" />
  <add name="serverport" connectionString="5369" providerName="System.set" />
  <add name="yktSqlConnString" connectionString="Data Source=10.35.10.98;Initial Catalog=scm_main; User ID=cdivtc;Password=fwq@cdivtc2016"
   providerName="System.Data.SqlClient" />
  <add name="ykt218SqlConnString" connectionString="Data Source=10.35.10.218;Initial Catalog=ConCard; User ID=cdivtc;Password=fwq@cdivtc2016"
   providerName="System.Data.SqlClient" />
  <add name="uumSqlConnString" connectionString="Data Source=10.35.10.163;Initial Catalog=ResourceDatabase; User ID=uum_read;Password=cdivtc@163"
   providerName="System.Data.SqlClient" />
  <add name="SqlConnString" connectionString="Data Source=118.114.252.173,20933;Initial Catalog=yxxt_data; User ID=sa;Password=123!@#qwe"
   providerName="System.Data.SqlClient" />
  <add name="xsglConnectionString" connectionString="Data Source=10.35.10.83;Initial Catalog=xssjpt; User ID=data_xsgl;Password=1a2b3c4d5e"
   providerName="System.Data.SqlClient" />
  <add name="zsglConnectionString" connectionString="Data Source=10.35.10.83;Initial Catalog=xssjpt; User ID=data_xsgl;Password=1a2b3c4d5e"
   providerName="System.Data.SqlClient" />
   <add name="costConnectionString" connectionString="Data Source=10.35.10.83;Initial Catalog=FreshMan; User ID=sa;Password=123!@#qwe"
   providerName="System.Data.SqlClient" />
  <add name="xszhglptConnectionString" connectionString="Data Source=10.35.10.83;Initial Catalog=xssjpt; User ID=data_xsgl;Password=1a2b3c4d5e"
   providerName="System.Data.SqlClient" />
  <add name="mr_ming_dataConnectionString" connectionString="Data Source=10.35.10.53;Initial Catalog=mr_ming_data;User ID=host2015"
   providerName="System.Data.SqlClient" />
  <add name="yxxt_dataConnectionString" connectionString="Data Source=10.35.10.53;Initial Catalog=yxxt_data;Persist Security Info=True;User ID=host2015;Password=fwq@2015"
   providerName="System.Data.SqlClient" />
  <add name="zypt_dataConnectionString" connectionString="Data Source=10.35.10.53;Initial Catalog=zypt_data;Persist Security Info=True;User ID=host2015"
   providerName="System.Data.SqlClient" />
  <add name="yxxt_dataConnectionString1" connectionString="Data Source=118.114.252.173,20933;Initial Catalog=yxxt_data;User ID=sa;Password=123!@#qwe"
   providerName="System.Data.SqlClient" />
  <add name="gzjwConnectionString" connectionString="Data Source=10.35.10.4;Initial Catalog=PantoSchoolGJ;User ID=user;Password=123"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IUumDataService" closeTimeout="00:01:00"
     openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
     allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
     maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
     textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
     messageEncoding="Text">
     <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
      maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="FinancialWSSoap" />
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://10.35.10.50/services/UumDataService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUumDataService"
    contract="ServiceReference1.IUumDataService" name="BasicHttpBinding_IUumDataService" />
   <endpoint address="http://10.35.10.83:8020/FinancialWS.asmx"
    binding="basicHttpBinding" bindingConfiguration="FinancialWSSoap"
    contract="Financial.FinancialWSSoap" name="FinancialWSSoap" />
  </client>
	</system.serviceModel>
	<system.webServer>
		<!--<httpErrors errorMode="DetailedLocalOnly">
			<remove statusCode="500" subStatusCode="-1" />
			<remove statusCode="406" subStatusCode="-1" />
			<remove statusCode="405" subStatusCode="-1" />
			<remove statusCode="403" subStatusCode="-1" />
			<remove statusCode="401" subStatusCode="-1" />
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" prefixLanguageFilePath="" path="/404.aspx?id=您要找的文件或目录不存在！" responseMode="ExecuteURL" />
			<error statusCode="401" prefixLanguageFilePath="" path="/404.aspx?id=您访问的页面出现问题！" responseMode="ExecuteURL" />
			<error statusCode="403" prefixLanguageFilePath="" path="/404.aspx?id=您的访问被系统拒绝！" responseMode="ExecuteURL" />
			<error statusCode="405" prefixLanguageFilePath="" path="/404.aspx?id=提示：系统拒绝了你的请求！" responseMode="ExecuteURL" />
			<error statusCode="406" prefixLanguageFilePath="" path="/404.aspx?id=提示：访问的地址mine类型不正确！" responseMode="ExecuteURL" />
			<error statusCode="500" prefixLanguageFilePath="" path="/404.aspx?id=访问的页面出现内部错误！" responseMode="ExecuteURL" />
		</httpErrors>-->
		<validation validateIntegratedModeConfiguration="false" />
		<defaultDocument>
			<files>
				<clear />
				<add value="default.aspx" />
				<add value="index.html" />
				<add value="Default.htm" />
				<add value="Default.asp" />
				<add value="iisstart.htm" />
				<add value="index.asp" />
			</files>
		</defaultDocument>
		<staticContent>
			<mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
			<!--<mimeMap fileExtension=".mp4" mimeType="video/mpeg" />-->
      <mimeMap fileExtension=".json" mimeType="text/plain" />
		</staticContent>
		<handlers>
			<remove name="aspq-ISAPI-4.0_32bit" />
			<remove name="ASPClassic" />
			<add name="aspq-ISAPI-4.0_32bit" path="*.asp" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
		<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" /><remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" /><remove name="ExtensionlessUrlHandler-Integrated-4.0" /><add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" /><add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
	</system.webServer>
</configuration>
